@{
    Layout = "_Layout";
    ViewData["Title"] = "Início";
}


<html>
<head>
    <link href="~/css/CSS-layout.css" rel="stylesheet"/>
</head>
<body>
   <section class="bg-success home-body py-5">
       <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <h1 class="display-4">TESTE</h1>
                </div>
                <div class="col-md-12">
                    <h2 class="display-4">TESTE</h2>
                </div>
                <div class="col-md-12">
                    <p>TESTE TESTE TESTE TESTE TESTE </p>
                </div>
            </div>
        </div>
   </section>
    <section class="bg-dark home-body-sec1">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <h1 class="display-4">TESTE</h1>
                </div>
                <div class="col-md-12">
                    <h2 class="display-4">TESTE</h2>
                </div>
                <div class="col-md-12">
                    <p>TESTE TESTE TESTE TESTE TESTE </p>
                </div>
            </div>
        </div>

    </section>
   

</body>
</html>